.inputer:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Change 'white' to match your input background color */
  -webkit-text-fill-color: black !important; /* Change 'black' to match your input text color */
}


body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(0deg 0% 95.43%);
  text-decoration: none;
}

.slider{
  display: flex;
   
  width:100%;
}

.item_2{
  width:80%;

}

