.desc{
    margin: 1rem 0;
    margin:  auto;
    width: 80%;
    padding:2rem;
    text-align: left;
    display: flex;
    gap:1rem;
    background-color: white;
    /* border: 1px solid rgb(233, 221, 221); */
    border:2px solid black;

}

.desc-left{
    border-right: 2px solid black;
    padding-right: 1rem;
}