



.login{
    height: 80vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container{
    background-color:white;
    padding:1rem;
    padding-top: 3rem;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
     
 
     

}

.login-container h1{
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 3px;

   
    
}

.login-container div input{
    background-color: white;
    border: none;
    outline: none;
    padding:0.4rem 0;
    color: blue;
   margin-top: 0.3rem;
    width:95%;
    font-size: 15px;
    font-weight: 500;
}

.login-container div hr{
    width: 95%;
    margin:0;
}

.login-tail{
    display: flex;
    flex-direction: column;
    gap:1rem;
    text-align: center;
   
}

.login-tail div{
    display: flex;
    margin:  auto;
    gap: 1rem;
    margin-top: 0.5rem;
    

}

.link
{
    list-style: none;
    font-weight: 600;

}

.login-tail  button{
    padding: 0.7rem ;
    background-color: black;
    color: white;
    margin: 0 1rem;
    font-size: 17px;
    cursor: pointer;
}

.login-container div input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important; /* Change 'white' to match your input background color */ 
     font-size: 15px;
  }

